.container{
     height: 500px;
     width: 800px;
     margin-top: 100px;
     margin-left: 200px ;
     border: 1px;
     text-align: center;
}
.baslik{
     background-color: aliceblue;
     height: 40px;
     text-align: center;
     padding-top: 20px;
     font-family: sans-serif;
}

.input{
     width: 700px;
     height: 30px;
     border: 1px, solid,black;
     border-radius: 5px;
}


.button{
     background-color: cornflowerblue;
     color: white;
     width: auto;
     height: 40px;
     margin-top: 15px;
     border-radius: 10px;
     display: inline;
     margin-left: 44px;
     align-items: center;
}

.button:hover{
     background-color:rgb(167, 183, 211);
     color: black;
     cursor: pointer;
}